.container {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    scroll-margin: 8px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px
}

.wrapper {
    background-color: var(--black-02);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 100%;
    border-radius: 12px;

    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    column-gap: 4px;
    display: flex;
    min-height: 20px;
    padding: 8px;
    position: relative;
}

@mixin hide-scrolbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

.cards {
    @include hide-scrolbar;
    max-height: 70vh;
    overflow: auto;
}

.header :not(:last-child) {
    width: 100%;
}